
.messages-container{
  display: flex;
  flex-direction: column;

  flex: 1;
  padding: 1.25rem 7%;

  overflow-y: auto;
  overflow-x: hidden;
}

.message{
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: .25rem;
}


.rigth-message{
  display: flex;
  align-self: flex-end;

  background-color: #154D36;
}

.left-message{
  align-self: flex-start;
  background-color: #242626;
}

.bubble-message{
  display: block;
  
  width: fit-content;
  max-width: 65%;

  border-radius: 8px;
  margin-bottom: .25rem;
  padding: .375rem .4375rem .5rem .5625rem;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}