.newMessageForm-form{
  width: 100%;
  display: flex;
  align-items: center;

}

.newMessage-inputContainer{
  display: flex;
  align-items: center;

  flex: 1;
  height: 2.75rem;
  margin: 0px .75rem .75rem .75rem;
  padding: .25rem 1rem;

  border: 1px solid #242626;
  border-radius: 20px;

  background-color: #242626;
}

.inputContainer-iconContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer-iconContainer div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;
}

.stickerIcon-container{
  margin-right: .25rem;
}

.newMessage-inputForm{
  flex: 1;
  margin-left: .25rem;
  
  outline: none;
  border: none;
  
  background-color: transparent;
  color: #d1d7db;

  font-size: 1rem;
}

.submitBtn{
  display: none;
}

@media (max-width: 346px) {
  .newMessage-inputContainer{
    margin: 0px;
  }
}