.asideMain-container {
  display: flex;

  height: 100vh;
  background-color: #111b21;
}

.aside-navBtn {
  display: flex;
  flex-direction: column;

  flex: 0 0 64px;
  background-color: #202c33;
}

.aside-contacts {
  display: flex;
  flex-direction: column;

  flex: 0 0 30vw;
  min-width: 300px;
  max-width: 565px;

  background-color: #111b21;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  
  background-color: #0b141a;
}