.asideMain-container {
  display: flex;

  height: 100vh;
  background-color: #161717;
}

.aside-navBtn {
  display: flex;
  flex-direction: column;

  flex: 0 0 64px;
  background-color: #1D1E1E;
}

.aside-contacts {
  display: flex;
  flex-direction: column;

  flex: 0 0 30vw;
  min-width: 300px;
  max-width: 565px;

  padding: 0px 10px;

  background-color: #161717;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  background-color: #161717;
  border-left: 1px solid #2f3030;
}

.line-bottom{
  margin: 10px auto;
  
  width: 92%;
  height: 1px;
  opacity: 0.6;

  background-color: #2f3030;
}