.aside-navIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;


  width: 4rem;
  height: 100vh;
  padding: 1rem 0rem;

  border-right: 1px solid #2D2F2F;
}

.iconsColumns{
  display: flex;
  flex-direction: column;
}

.iconsColumns button{
  width: 2.5rem;
  height: 2.5rem;
  margin: .25rem 0px;

  border: none;
  
  color: #A5A5A4;
  background-color: transparent;
}