.aside-navIconContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 64px;
  height: 100vh;
  padding: 15px 0px;
}

.iconsColumns{
  display: flex;
  flex-direction: column;
}

.iconsColumns button{
  width: 40px;
  height: 40px;
  margin: 2px 0px;
  border: none;
  color: #A5A5A4;
  background-color: transparent;
}