.searchBar-component{
  margin-bottom: .25rem;
}

.searchBar-container{
  display: flex;
  align-items: center;

  border-radius: 20px;
  background-color: #2D2F2F;
}

.searchIcon{
  display: flex;
  padding: 0rem 1.25rem;

  color: white;
}

.inputSearchBar{
  width: 100%;
  height: 2.75rem;

  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}