
.chatHeader-container{
  display: flex;

  gap: .75rem;
}

.chatHeader-container img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.chatHeader-infoContact{
  display: flex;
  flex-direction: column;
}

.backBtn{
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: white;
}