.contactScreen-chat{
  display: flex;
  flex-direction: column;

  height: 100vh;

  color: white;
}

.contactScreen-chatHeader-container{
  display: flex;
  align-items: center;

  flex: 0 0 64px;
  z-index: 10;
  padding: 10px;
}

.contactScren-messagesContainer{
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  flex: 1;
}

.contactScreen-newMessageForm{
  display: flex;
  align-items: center;

  flex: 0 0 auto;
  min-height: 62px;
  padding: 5px 10px;
}