.contactScreen-container{
  display: flex;
}

.contactScreen-contactSidebar{
  width: 20%;
}

.contactScreen-chat{
  color: white;
}

.contactScreen-chatHeader-container{
  display: flex;

  padding: 10px;
  border: 1px solid red;
}